<div class="album-container">
  <h1>アルバム</h1>
  
  <div class="upload-section">
    <button mat-raised-button color="primary">
      <mat-icon>cloud_upload</mat-icon>
      写真・動画をアップロード
    </button>
  </div>
  
  <div class="media-grid">
    <mat-card class="media-item" *ngFor="let item of mockItems">
      <img [src]="item.thumbnail" [alt]="item.name">
      <mat-card-content>
        <p>{{item.name}}</p>
        <small>{{item.date}}</small>
      </mat-card-content>
    </mat-card>
  </div>
</div>