<mat-toolbar color="primary">
  <span>Album App</span>
  <span class="spacer"></span>
  
  <div *ngIf="authService.isAuthenticated$ | async; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      {{ (authService.currentUser$ | async)?.name || 'ユーザー' }}
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="navigateToAlbum()">
        <mat-icon>photo_library</mat-icon>
        <span>アルバム</span>
      </button>
      <button mat-menu-item (click)="navigateToUpload()">
        <mat-icon>cloud_upload</mat-icon>
        <span>アップロード</span>
      </button>
      <button mat-menu-item *ngIf="authService.isAdmin()" (click)="navigateToAdmin()">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>ユーザー管理</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>ログアウト</span>
      </button>
    </mat-menu>
  </div>
  
  <ng-template #loginButton>
    <button mat-button (click)="navigateToLogin()">
      <mat-icon>login</mat-icon>
      ログイン
    </button>
  </ng-template>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>

<app-loading></app-loading>